@use '/src/styles/colors';

.title {
  margin-bottom: 10px;

  color: colors.$WHITE2;
  font-size: 1.2em;
  font-weight: bold;
}

.listContainer {
  width: 100%;
  list-style: none;
  height: 500px;
  overflow-y: scroll;
}
