@use 'src/styles/colors';

.category {
  display: flex;
  width: 100%;
  justify-content: space-around;

  margin: 10px 0;

  div {
    border: 1px solid colors.$CARROT;
    color: colors.$CARROT;
    padding: 0.4em 0.4em;
  }
}
