@use '/src/styles/colors';

.listContainer {
  list-style: none;
  height: 500px;
  overflow-y: scroll;
}

.noSearch {
  margin-top: 20px;
  font-weight: 1.4em;
  color: colors.$GRAY;
  font-weight: bold;
}
