.searchForm {
  height: 35px;

  position: relative;
  .searchButton {
    position: absolute;
    top: 5px;
    left: 5px;

    width: 2em;
    height: 80%;
    background-color: white;
    border: none;
  }

  .searchInput {
    width: 300px;
    height: 100%;
    padding: 0.4em 2em;
    font-size: 1.2em;

    &:focus {
      outline: none;
    }
  }
}
