@use '/src/styles/colors';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  -ms-overflow-style: none; // IE and Edge
  scrollbar-width: none; // Firefox
  &::-webkit-scrollbar {
    display: none; // Chrome
  }
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: colors.$WHITE;
}

.container {
  position: relative;
  width: 360px;
  height: 760px;
  padding: 30px 30px;
  background-color: colors.$BLACK;
  color: colors.$WHITE;
  border-radius: 40px;
}

.blocked {
  pointer-events: none;
}
